// COLORS
$heading-color: #E65C43;
$footer-color: #30353D;
$accent-color: #FFF;
$sub-headings: #666;
$footer-bar: #F5F6F6;

// FONTS
$font-stack: 'Roboto', sans-serif;
$thin: 100;
$normal: 400;
$heavy: 900;

// IMAGE PATHS
$imagePath:"/images";